.footer {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
  }
}
